div,
span,applet,object,
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
abbr,acronym,address,
big,cite,code,del,
dfn,em,font,img,ins,
kbd,q,s,samp,small,
strike,strong,
sub,sup,tt,var,b,u,i,
center,dl,dt,dd,
ol,ul,li,fieldset,
form,label,legend,
table,caption,tbody,tfoot,thead,th,td,
header,footer,section,article{
	background:#333 !important;
	color:#A0A0A0 !important;
	border-color:#A0A0A0 !important;
}
input,button,textarea,select,option,optgroup{
	background-color:#444 !important;
	color:#CCC !important;
	border-color:#A0A0A0 !important;
}
a,a *{
	color:#A0A0A0 !important;
	background-color:#333333 !important;
}
a:active,a:hover,a:active *,a:hover *{
	color:#A0A0A0 !important;
	background-color:#555 !important;
}

b{
	background-color: #fff !important;
}

html,body{
	background-color: #000 !important;
}